.mainDisplay {
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.headerIcon {
  max-height: 50px;
  margin: auto 1rem;
}

.navbarLinks {
  margin-left: 1.5rem !important;
}

.navLink {
  text-decoration: none;
  color: inherit;
}

.navLink.active {
  font-weight: bold;
}

.scrollToTop {
  margin-bottom: 2rem;
}

.footerLink {
  text-decoration: none;
  color: inherit;
}

